In [10]:
import pandas as pd
import numpy as np

# Read the CSV file
data = pd.read_csv('titanic_data.csv')

# Filter and print the names of female passengers who survived
female_survivors = data[(data['Survived'] == 1) & (data['Sex'] == 'female')]
print(female_survivors['Name'])

Series([], Name: Name, dtype: object)

In [12]:
data.isnull()

,PassengerId,Survived,Pclass,Surname,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,True,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False,True
887,False,False,False,False,False,False,False,False,False,False,False,False,True
888,False,False,False,False,False,True,False,False,False,False,True,False,True
889,False,False,False,False,False,False,False,False,False,False,False,False,True
890,False,False,False,False,False,False,False,False,False,False,True,False,True

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Surname      891 non-null    object
 4   Name         891 non-null    object
 5   Sex          714 non-null    float64
 6   Age          891 non-null    int64
 7   SibSp        891 non-null    int64
 8   Parch        891 non-null    object
 9   Ticket       891 non-null    float64
 10  Fare         204 non-null    object
 11  Cabin        889 non-null    object
 12  Embarked     0 non-null      float64
dtypes: float64(3), int64(5), object(5)
memory usage: 90.6+ KB

In [14]:
data.shape

(891, 13)

In [15]:
data.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Ticket,Embarked
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,0.0
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,NaN
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,NaN
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,NaN
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,NaN
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,NaN
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,NaN
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,NaN

In [16]:
# Filter and print the names of child passengers who survived
child_survivors = data[(data['Survived'] == 1) & (data['Age'] < 18)]
sorted_child_survivors = child_survivors.sort_values(by='Name')
print(sorted_child_survivors['Name'])

1      female
479    female
483    female
486    female
496    female
        ...
204      male
587      male
599      male
692      male
889      male
Name: Name, Length: 342, dtype: object

In [17]:
# Count the number of passengers who embarked from Southampton
southampton_passengers = data[data['Embarked'] == 'S']
southampton_passenger_count = len(southampton_passengers)
print(southampton_passenger_count)

0

In [18]:
# Filter and print the name and age of passengers who embarked from Cherbourg
cherbourg_passengers = data[data['Embarked'] == 'C']
cherbourg_passengers = cherbourg_passengers[['Name', 'Age']].dropna()
print(cherbourg_passengers)

Empty DataFrame
Columns: [Name, Age]
Index: []

In [25]:
# Convert 'Parch' column to numeric values
data['Parch'] = pd.to_numeric(data['Parch'], errors='coerce')

# Filter the DataFrame and count the number of passengers who had siblings or spouses aboard
passengers_with_siblings_or_spouses = data[(data['SibSp'] > 0) | (data['Parch'] > 0)]
total_passengers_with_siblings_or_spouses = len(passengers_with_siblings_or_spouses)
print(total_passengers_with_siblings_or_spouses)

719

In [27]:
# Convert 'Fare' column to numeric values
data['Fare'] = pd.to_numeric(data['Fare'], errors='coerce')

# Filter the DataFrame and count the number of passengers who paid a fare greater than $100
passengers_with_high_fare = data[data['Fare'] > 100]
passengers_with_high_fare_count = len(passengers_with_high_fare)
print(passengers_with_high_fare_count)

0

In [28]:
# Filter and print the names of passengers with the title "Dr."
doctors = data[data['Name'].str.contains('Dr.')]
print(doctors['Name'])

Series([], Name: Name, dtype: object)

In [29]:
# Filter and print the names of passengers who were part of the crew
crew_members = data[data['Name'].str.contains('Crew')]
print(crew_members['Name'])

Series([], Name: Name, dtype: object)

In [30]:
# Filter and print information about passengers who boarded lifeboats and survived
lifeboat_survivors = data[(data['Survived'] == 1) & (~data['Cabin'].isnull())]
print(lifeboat_survivors)

     PassengerId  Survived  Pclass  \
1              2         1       1
2              3         1       3
3              4         1       1
8              9         1       3
9             10         1       2
..           ...       ...     ...
875          876         1       3
879          880         1       1
880          881         1       2
887          888         1       1
889          890         1       1

                                               Surname    Name   Sex  Age  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0    1
2                               Heikkinen, Miss. Laina  female  26.0    0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0    1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0    0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0    1
..                                                 ...     ...   ...  ...
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0    0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0    0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0    0
887                       Graham, Miss. Margaret Edith  female  19.0    0
889                              Behr, Mr. Karl Howell    male  26.0    0

     SibSp     Parch   Ticket  Fare Cabin  Embarked
1        0       NaN  71.2833   NaN     C       NaN
2        0       NaN   7.9250   NaN     S       NaN
3        0  113803.0  53.1000   NaN     S       NaN
8        2  347742.0  11.1333   NaN     S       NaN
9        0  237736.0  30.0708   NaN     C       NaN
..     ...       ...      ...   ...   ...       ...
875      0    2667.0   7.2250   NaN     C       NaN
879      1   11767.0  83.1583   NaN     C       NaN
880      1  230433.0  26.0000   NaN     S       NaN
887      0  112053.0  30.0000   NaN     S       NaN
889      0  111369.0  30.0000   NaN     C       NaN

[340 rows x 13 columns]

In [33]:
import matplotlib.pyplot as plt


# Check if 'Embarked' column exists in the DataFrame
if 'Embarked' in data.columns:
    # Count the number of passengers by embarkation port
    passengers_by_embarkation = data['Embarked'].value_counts()

    if len(passengers_by_embarkation) > 0:
        # Plot the count of passengers by embarkation port
        passengers_by_embarkation.plot(kind='bar')
        plt.xlabel('Embarkation Port')
        plt.ylabel('Passenger Count')
        plt.show()
    else:
        print("No data available for embarkation ports.")
else:
    print("The 'Embarked' column does not exist in the DataFrame.")

No data available for embarkation ports.